/* 
Project Name: IRC Donation Website
Client: IRC
Author: Sho Matsuzaki
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #FCCA49;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif
}


/******************************************
/* LAYOUT                   
/*******************************************/

#container {
     float: left;
     text-align: left;
     overflow: none;
     width:100%;
}

img {
     display: none;
     position: absolute;
}

#mobilesplash {
     z-index: 999;
     width: 100%;
}

#modal1 {
     z-index: 100;
     top: 390px;
     left: 120px;
     width: 340px;
     height: auto;
}

#modal2 {
     z-index: 101;
     top: 94px;
     left: 120px;
     width: 274px;
     height: auto;
}

#img1440 {
     z-index: 1;
     width:100%;
}

#img1400 {
     z-index: 2;
}

#img1350 {
     z-index: 3;
}

#img1300 {
     z-index: 4;
}

#img1250 {
     z-index: 5;
}

#img1200 {
     z-index: 6;
}

#img1150 {
     z-index: 7;
}

#img1100 {
     z-index: 8;
}

#img1050 {
     z-index: 9;
}

#img1000 {
     z-index: 10;
}

#img950 {
     z-index: 11;
}

#img900 {
     z-index: 12;
}

#img850 {
     z-index: 13;
}

#img800 {
     z-index: 14;
}

#img750 {
     z-index: 15;
}

#img700 {
     z-index: 16;
}

#img650 {
     z-index: 17;
}

#img600 {
     z-index: 18;
}

#img550 {
     z-index: 19;
}

#img520 {
     z-index: 20;
}

/*#img500 {
     z-index: 21;
}*/

#img480 {
     z-index: 22;
}

/*#img460 {
     z-index: 23;
}*/

#img445 {
     z-index: 24;
}

#img445:hover {
     cursor: pointer;
}

/*#sand {
     z-index: 90;
     position: absolute;
     width: 1440px;
     height: 900px;
     margin: 0 auto;
     text-align: center;
     overflow: none;
     background-image: url("../images/sand_sprite.png");
     background-size: 3600%, 100%;
     background-position: left;
     background-repeat: no-repeat;

     animation-name: sprite-animation;
     animation-duration: 15s;
     animation-timing-function: steps(35);
     animation-iteration-count: infinite;
}

#pointer {
     position: absolute;
     width: 1440px;
     height: 900px;
     margin: 0 auto;
     text-align: center;
     overflow: none;
     background-image: url("../images/pointer_sprite.png");
     background-size: 3600%, 100%;
     background-position: left;
     background-repeat: no-repeat;

     animation: sprite-animation 1.5s steps(35) forwards;
     animation-delay: 5s;
}

@keyframes sprite-animation {
     from {
          background-position: left;
     }
     to {
          background-position: right;
     }
}*/

/*
@media only screen and (min-width: 1454px) {
     #img1 {display: block;}
     #img2sprite,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1453px) {
     #img2sprite {display: block;}
     #img1,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1382px) {
     #img3 {display: block;}
     #img1,#img2sprite,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1321px) {
     #img4 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1285px) {
     #img5 {display: block;}
     #img1,#img3,#img2sprite,#img4,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1244px) {
     #img6 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img4,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1165px) {
     #img7 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img4,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 1076px) {
     #img8 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img4,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 992px) {
     #img9 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img4,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 938px) {
     #img10 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img4,#img11,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 848px) {
     #img11 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img4,#img12,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 737px) {
     #img12 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img4,#img13,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 642px) {
     #img13 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img4,#img14,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 570px) {
     #img14 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img4,#img15,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 520px) {
     #img15 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img4,#img16,#img17 {display: none;}
}

@media only screen and (max-width: 480px) {
     #img16 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img4,#img17 {display: none;}
}

@media only screen and (max-width: 440px) {
     #img17 {display: block;}
     #img1,#img3,#img2sprite,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img4 {display: none;}
}*/


